.header {
  text-align: center;
  background-color: #646aef;
  padding: 10px;
}

.searchBarInput {
  outline: none;
  line-height: 1.5;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}
